*{
  margin: 0;
}
.hero{
  width: 100%;
}
.img-profile{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}
.icon{
  color: #2b0d0d;
}
.my-contact{
  display: inline-block;
  border: solid 2px #2b0d0d;
  text-decoration: none;
  color: #2b0d0d;
  font-size: 15px ;
  font-weight: bold;
  padding: 10px;
  margin-left: 15px ;
  transition: 0.5s;
}
.my-contact:hover{
  border: solid 2px #bdec59;
  transform: rotateZ(1.5deg);
  transition: 0.5s;
}
.title-skill{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.text-skill{
  text-align: justify;
}
.skill-items{
  margin-top: 50px ;
   display: flex;
  align-items: center;
  justify-content: center;
}
.skill-name{
  border: solid 2px #d103d1;
  text-decoration: none;
  color: #c11717;
  font-size: 20px ;
  padding: 15px;
  margin-left: 15px ;
}
.my-footer{
  width: 100%;
  position: sticky;
}
.btn-submit{
  background-color: #4d44d1;
  color: white;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
}
.btn-submit:hover{
  opacity: 0.7;
  transition: 0.5s;
}
.btn-submit:active{
  opacity: 0.7;
  transform: rotateZ(1.5deg);
}
